<!DOCTYPE HTML>

<html>
	<header>
		<link type="text/css" rel="stylesheet" href="css/reset.css" />
		<link type="text/css" rel="stylesheet" href="css/editor.css" />
		<link type="text/css" rel="stylesheet" href="css/print.css" media="print" />

		<title>Pinecone</title>
	</header>
	<body>
		<section class="topbar">
			<span class="logo"><a href="#">Pinecone</a></span>
			<ol id="sectionIndicatorGroup" class="steps">
				UW COURSE SCHEDULER
				<li id="addSectionIndicator" class="indicator">1. ADD COURSES</li>&#x25B6;
				<li id="customizeIndicator" class="indicator">2. CUSTOMIZE THEMES</li>&#x25B6;
				<li id="printIndicator" class="indicator">3. PRINT SCHEDULE</li>
			</ol>
		</section>
		<section class="content">
	        <div class="position-container">
	        	<nav id="sidebarGroup" class="sidebar-group">
	        		<section id="sidebarSlider" class="sidebar-slider">
						<section id="addSectionSidebar" class="sidebar class add">
							<section class="position-container group-container">
								<article class="sidebar-section-group class-search">
									<p>
										<h1>ADD A COURSE</h1>
										<!-- <div class="dropdown">
											<span>SELECT TERM</span>
											<span class="arrow"></span>
											<ul class="terms">
												<li>WINTER 2014</li>
												<li>SPRING 2014</li>
												<li>FALL 2014</li>
											</ul>
										</div> -->
									</p>
									<p>
										<input
											id="sectionSearchBox"
											class="searchbox"
											placeholder="Search by course code or name">
										<input
											id="sectionSearchButton"
											class="searchbutton"
											type="button"
											value="SEARCH">
									</p>
								</article>

								<article class="sidebar-section-group">
									<h1>SEARCH RESULTS</h1>
									<div data-id="searchWarningLabel" class="warning-label active">
										Try searching for a course.
									</div>
									<ul data-id="searchResultList" class="dropdown-list course-results-list"></ul>
								</article>

								<article class="sidebar-section-group">
									<h1>ADDED COURSES</h1>
									<div data-id="addedWarningLabel" class="warning-label active">
										You haven't added any courses yet!
									</div>
									<ul data-id="addedList" class="dropdown-list class-added-list"></ul>
								</article>

								<article class="button-navigation-group clearfix">
									<span data-id="nextBtn">NEXT</span>
								</article>
							</section>
						</section>


						<section id="customizeSidebar" class="sidebar customize">
							<section class="position-container group-container">
								<article class="sidebar-section-group">
									<h1>CUSTOMIZE COLOURS</h1>
									<p id="sectionThemeContainer" class="sidebar-subsection-group">
										<h2>COURSE THEMES</h2>
										<span data-id="addedWarningLabel" class="warning-label active">
											You haven't added any courses yet!
										</span>
										<ul id="customizeSectionDropdownList" class="customizeSectionDropdownList">
										</ul>
									</p>
									<p class="sidebar-subsection-group">
										<h2>GLOBAL THEMES</h2>
										<ul id="customizeGlobalDropdownList" class="customizeSectionDropdownList">
										</ul>
									</p>
								</article>
								<article class="button-navigation-group clearfix">
									<span data-id="backBtn">BACK</span>
									<span data-id="nextBtn">NEXT</span>
								</article>
							</section>
						</section>


						<section id="printSidebar" class="sidebar print">
							<section class="position-container group-container">
								<article class="sidebar-section-group complete">
									<h1>Congratulations!</h1>
									<h2>Your schedule is now complete.</h2>
									<h3>Be careful: clicking 'Reset' will clear all of your changes.</h3>

									<div id="savePdfButton" class="button save">SAVE / PRINT AS PDF</div>
									<div id="shareButton" class="button share">
										<span class="fb-logo"></span>
										<span class="label">SHARE ON FACEBOOK</span>
									</div>
								</article>
								<article class="button-navigation-group clearfix">
									<span data-id="backBtn">BACK</span>
									<span data-id="resetBtn" class="reset">RESET</span>
								</article>
							</section>
						</section>
					</section>
				</nav>

				<section class="preview">
					<div class="preview-container">
						<h1 class="preview-title">PREVIEW</h1>
						<section id="scheduleContainer" class = "print-content">
						</section>
					</div>
				</section>
            </div>
		</section>

		<!-- Begin common dropdown templates: -->

		<script id="templateDropdown" type="text/template">
			<header data-id="header" class="dd-header <%- titleClass %>">
				<%= titleHtml %>
				<div class="indicator">
					<% if (typeof(titleIndicatorHtml) !== "undefined") {
						print(titleIndicatorHtml);
					} else { %>
						<span class="arrow"></span>
					<% } %>
				</div>
			</header>
			<div data-id="optionListContainer" class="dd-options-container">
				<ul data-id="optionList" class="dd-options-list">
				</ul>
			</div>
		</script>

		<script id="templateDropdownOption" type="text/template">
			<li data-id="option" class="dd-option <%- optionClass %>"></li>
		</script>

		<script id="templateExpandableContainer" type="text/template">
			<section data-id="container" class="ec-container"></section>
		</script>
		<!-- End common dropdown templates. -->

		<!-- A template that represents a list item that will be turned into a dropdown. -->
		<script id="templateDropdownListEntry" type="text/template">
			<li class="dropdown-list-entry"></li>
		</script>

		<!-- Used to draw a color selection palette. -->
		<script id="templatePalette" type="text/template">
			<% for (var i = 0; i < colors.length; i++) { %>
				<div data-id="color-indicator-container"
						class="color-indicator-container">
					<span data-id="color-indicator" data-color="<%= colors[i] %>"
							class="color-indicator" style="background-color: <%= colors[i] %>;">
					</span>
				</div>
			<% }%>
		</script>

		<script id="templateSearchResultGroupHeader" type="text/template">
			<span>
				<span><%- subject %> <%- catalog %></span>
				<span><%- title %></span>
			</span>
		</script>

		<script id="templateSearchResultEntry" type="text/template">
			<div class="table-three">
				<span class="text"><%- catalog %></span>
				<span class="text"> <%- times %></span>
				<span class="text add">&#x2B;</span>
			</div>
		</script>

		<script id="templateCalendar" type="text/template">
			<div class="cl-horizontal-lines">
				<table data-id="timeTable" class="cl-time-table editable-property">
					<thead>
						<tr class="cl-header-row">
							<th class="cl-header-cell cl-left-spacer">
								<div class="background">&nbsp;</div>
							</th>
							<th class="cl-header-cell"></th>
						</tr>
					</thead>
					<tbody>
						<% for (var i = 0; i < timeLabels.length; i++) { %>
							<tr data-id="timeLabel" class="cl-content-row">
								<td class="cl-time-label"><%= timeLabels[i] %></td>
								<td class="cl-time-divider">
									<hr data-id="timeDivider" class="editable-property">
								</td>
							</tr>
						<% } %>
					</tbody>
				</table>
			</div>
			<div class="cl-grid">
				<table data-id="dayTable" class="cl-day-table">
					<thead>
						<tr class="cl-header-row">
							<th data-id="dayLabel" class="cl-header-cell cl-left-spacer">
								<div data-id="dayLabelBackground" class="background editable-property">&nbsp;</div>
							</th>
							<% for (var i = 0; i < dayLabels.length; i++) { %>
								<th data-id="dayLabel" class="cl-header-cell editable-property">
									<div data-id="dayLabelBackground" class="background editable-property">
										<%= dayLabels[i] %>
									</div>
								</th>
							<% } %>
						</tr>
					</thead>
					<tbody>
						<tr data-id="calendarBackground" class="cl-content-row editable-property">
							<td data-id="timeBackground" class="editable-property"></td>
							<% for (var i = 0; i < dayLabels.length; i++) { %>
								<td data-id="contentCell" class="cl-content-cell">
									<div data-id="positionContainer" class="position-container"></div>
								</td>
							<% } %>
						</tr>
					</tbody>
				</table>
			</div>

		</script>


		<script id="templateCalendarEntry" type="text/template">
			<article class="cl-entry editable-property">
				<h1 class="cl-title"><%= name %></h1>
				<h2 class="cl-desc"><%= subject %> <%= catalog %> - <%= section %> <%= type %></h2>
				<h2 class="cl-loc"><%= building %> <%= room %></h2>
			</article>
		</script>


		<script id="templateAddSectionAddedListGroupHeader" type="text/template">
			<span>
				<span><%- subject %> <%- catalog %></span>
				<span><%- title %></span>
			</span>
		</script>

		<script id="templateAddSectionAddedListEntry" type="text/template">
			<div class="table-three class-added-entry">
				<span class="text section"><%= type %> <%= section %> </span>
				<span class="text time"><%= times %></span>
				<span class="text remove"><span data-id="remove" class="button">&#xD7;</span></span>
			</div>
		</script>


		<!-- Server-side generation of hash value outputted here -->
		<script type="text/javascript">
			var fbAppId = "{{= appId}}";
			{{ if (hash !== undefined) { }}
				var hash = "{{= hash }}";
			{{ } else { }}
				var hash = undefined;
			{{ } }}
		</script>


		<script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>

		{{ for (var i = 0; i < js.length; i++) { }}
			<script type="text/javascript" src="{{= js[i] }}"></script>
		{{ } }}
	</body>
</html>